body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #cbc0c0;
  color: #000;
  text-align: center;
}

input, button {
  margin: 10px;
  padding: 8px;
  font-size: 1em;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: #cbc0c0;
}

th, td {
  border: 1px solid #444;
  padding: 8px 12px;
}

th {
  background-color: #cbc0c0;
}

button {
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}
